In [1]:
import sqlite3 as lite 
import sys 
con = None 
try: 
    con = lite.connect('test.db') # connect to database 
    cur = con.cursor() # create cursor 
    cur.execute('SELECT SQLITE_VERSION()') # select database version  
    data = cur.fetchone() # fetch one data at a time 
    print "SQLite version: %s" % data 
except lite.Error, e: 
    print "Error %s:" % e.args[0] 
    sys.exit(1) 
finally: 
    if con: 
        con.close()

SQLite version: 3.6.21

In [5]:
import sqlite3 as lite 
import sys 
con = lite.connect("test.db") 
with con: 
    cur = con.cursor() # Drop Table If Exisits 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("CREATE TABLE PhoneAddress(phone CHAR(10) PRIMARY KEY, address TEXT, name TEXT unique, age INT NOT NULL)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)") 
    cur.execute("SELECT phone,address, age FROM PhoneAddress") 
    data = cur.fetchall() 
    for rec in data: 
        print rec[0], rec[1], rec[2] 
con.close()

0912173381 United State 53
0928375018 Tokyo Japan 6
0957209108 Taipei 29

In [12]:
import sqlite3 as lite 
import sys 
con = lite.connect("test.db") 
with con: 
    cur = con.cursor() # Drop Table If Exisits 
    cur.execute("DROP TABLE IF EXISTS account") 
    cur.execute("CREATE TABLE account(username TEXT, password TEXT)") 
    cur.execute("INSERT INTO account VALUES('qoo','qoo loves oop')") 
    cur.execute("SELECT * FROM account where username = 'qoo' and password = 'qoo loves oop'") 
    data = cur.fetchone() 
    if data:
        print "you can login"
con.close()

you can login

In [13]:
username = raw_input("username:")
password = raw_input("password:")
import sqlite3 as lite 
import sys 
con = lite.connect("test.db") 
with con: 
    cur = con.cursor() # Drop Table If Exisits 
    cur.execute("SELECT * FROM account where username = '"+username+"' and password = '"+password+"'") 
    #cur.execute("SELECT * FROM account where username = '' or 1=1; --' and password = '"+password+"'") 
    data = cur.fetchone() 
    if data:
        print "you can login"
    else:
        print "authtication failed"
con.close()

username:' or 1=1; --
password:sdfsfsdf
you can login

In [5]:
username = raw_input("username:")
password = raw_input("password:")
import sqlite3 as lite 
import sys 
con = lite.connect("test.db") 
with con: 
    cur = con.cursor() # Drop Table If Exisits 
    cur.execute("SELECT * FROM account where username = '%s' and password = '%s'"%(username, password)) 
    data = cur.fetchone() 
    if data:
        print "you can login"
    else:
        print "authtication failed"
con.close() 

#http://docs.sqlalchemy.org/en/rel_1_0/orm/
#https://peewee.readthedocs.org/en/latest/

username:' or 1=1; --
password:sfsdf
you can login

In [6]:
import sqlite3 as lite 
import sys 
con = lite.connect("test.db") 
with con: 
    cur = con.cursor()
    # Read Meta Information
    cur.execute("PRAGMA table_info(PhoneAddress)")    
    rows = cur.fetchall()
    for row in rows:
        print row
con.close()

(0, u'phone', u'CHAR(10)', 0, None, 1)
(1, u'address', u'TEXT', 0, None, 0)
(2, u'name', u'TEXT', 0, None, 0)
(3, u'age', u'INT', 1, None, 0)

In [10]:
import sqlite3 as lite 
import sys 
con = lite.connect("test.db") 
with con:     
    cur = con.cursor()
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchone()     
    #print data
    #print data[0], data[1]

    rows = cur.fetchall()
    for row in rows:
        print row
con.close()

(u'0928375018', u'Tokyo Japan')
(u'0957209108', u'Taipei')